Package: ca.menushka.onenotify
Name: OneNotify
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Version: 1.2.0
Architecture: iphoneos-arm
Description: Keep all your notifications in one persistent list on your lockscreen without having to swipe to view them.
Maintainer: Menushka Weeratunga
Author: Menushka Weeratunga
Section: Tweaks
